@import '@/assets/scss/_variables.scss';

body {
  background-color: #F0EEF3;
  margin: 0;
  font-size: calc(14px + (32 - 14) * ((100vw - 220px) / (1900 - 220)));
  -webkit-animation: bugfix infinite 1s;
}

@-webkit-keyframes bugfix { from {padding:0;} to {padding:0;} }

#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
}

.bg {
  background-image: url("../images/hero-image.jpg");
  background-size: contain;
  position: absolute;
  height: 100%;
  width: 100%;
  background-repeat: no-repeat;
  z-index: -1;
  box-shadow: inset 150px 0px 150px 0px #F0EEF3;
  left: 0
}

.navbar-brand {
  width: 20%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 22px;
  p {
    z-index: 0;
  }
}

span.logo {
  background: $main-color;
  position: relative;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  right: -25px;
}

.container {
  margin-right: auto;
  margin-left: auto;
  padding: 0 16px;
}

.my-4 {
  margin-top: 24px;
  margin-bottom: 24px;
}

ul {
  list-style-type: none;
}

a {
  cursor: pointer;
}

.text-justify {
  text-align: justify;
}

@media (min-width: 768px) {
  .container {
    width: 750px;
    padding: 0;
  }
}

@media (min-width: 992px) {
  .container {
    width: 940px;
  }
}

@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
  .bg {
    background-size: cover;
    height: 92vh;
  }
}

@media (min-width: 1700px) {
  .container {
    width: 1680px;
  }
}
